{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Discover the great blog and community for Gamers!</h1>

        <p class="pt-4">
            Welcome to Gamers United!
            Hello and welcome to Gamers United – where gamers from all walks of life come together to celebrate, discuss, and dive deep into the world we love.
            Whether you're a console veteran, a PC enthusiast, a mobile strategist, or just starting your gaming journey, this is your space.

            Here at Gamers United, we’re passionate about everything gaming, from the latest releases and groundbreaking tech to classic games that hold a special place in our hearts.
            Expect reviews, tips, industry news, community spotlights, and thought-provoking discussions on gaming culture.
            But most importantly, Gamers United is about you – a place for gamers to connect, share, and feel at home.
            So grab your controller, power up, and get ready to join a community that’s as diverse and dynamic as the games we play. Welcome to Gamers United – where the game never ends.
        </p>
    </section>
    <section>
        <div class="post-cont">
            {% for post in posts %} 
                <a href="{% url 'post_detail' post.id %}" class="img-container">
                    <img src="{{post.images.url}}" alt="{{post.image_alt}}" style="width: 100%">
                    <div class="centered"><h2>{{post.title}}</h2></div>
                </a>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
