@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    /** Fonts */
    --title:'Baskervville SC', serif;
    --main-font: 'Libre Baskervville', serif;
    /* Colours */

    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

     /* Utils */
     --smal-box-shadow: 1px -1px 7px 0 #00000061;
     --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: rgb(29, 12, 180);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    color: white;
}

main {
    flex: 1 0 auto;
    background: rgb(2,0,36);
    background: lightblue;
}

/* Footer */

footer {
    flex-shrink: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16, 1, 153, 0.916) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 1.5rem;
    margin: 1rem;
}


/* Header */
.navbar {
    background-color: var(--blue);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo{
    width: 18.75rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}


/* Posts */

.card {
    height: 90%;
    margin-top: 1rem;
}

.posts {
    text-decoration: none;
    color: var(--black);
}

.posts:hover {
    cursor: pointer;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
}

.content, .content-section, .ratings, .post-detail {
    width: 100%;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-pic {
    width: 100%;
    height: auto;
}
/* Profiles */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-posts {
    width: 100%;
}

@media screen and (min-width:40em){
    .form {
        width: 50%;
    }

    .post-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .post-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .post-img {
        width: 40%;
        margin: 0 auto;
    }

    .post-detail {
        width: 60%;
        padding: 2rem;
    }

    .post-container {
        flex-direction: row;
    }

    .content {
        width: 33.33%;
    }

    .ratings {
        width: 66.66%;
    }

    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-posts {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-posts a {
        text-decoration: none;
    }
}