{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/dqk6ad4tr/image/upload/v1732094702/favicon.ico.png">

    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <style>
        /* Add background image */
        main {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            color: #fff;
        }
    </style>
    
    <title>Gamers United - {% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <!-- Messages Section -->
    <div class="container my-3">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>
