{% extends 'base.html' %}
{% load static %}

{% block title %} Gamers United - Profile {{ profile.user.username }} {% endblock %}

{% block content %}
<div class="container p-4">
    <div class="profile">
        <div class="info">
            <div class="profile-img text-center">
                {% if profile.profile_picture.url is not none %}
                    <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile image">
                {% else %}
                    <img src="{% static '/images/default_profile_picture.png' %}" alt="Default profile picture">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined:</strong> {{ profile.user.date_joined|date:'d M Y' }}</p>
            <p><strong>Total Posts:</strong> {{ post_count }}</p>
            {% if profile.bio %}
                <p>{{ profile.bio|safe }}</p>
            {% endif %}

            {% if request.user == profile.user %}
                <div>
                    <button id="myBtn" class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Edit Profile</button>
                </div>
            {% endif %}
        </div>
        
        <div class="profile-posts">
            <h2 class="text-center pb-4">My Posts</h2>
            {% for post in posts %}
                <a href="{% url 'post_detail' post.id %}">
                    <h3>{{ post.title }}</h3>
                </a>
                <p>Posted on: {{ post.created_on|date:"d M Y" }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>


    <!-- The Modal -->
    <div id="myModal" class="modal mt-5">
        <div class="modal-content container">
            <span class="close fs-1 pe-2">&times;</span>
            <form method="POST" action="{% url 'edit_profile' request.user.id %}" class="mb-2 p-2"
                enctype="multipart/form-data">
                <h2 class="text-center fs-4">Edit Profile</h2>
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
   
    const modal = document.getElementById("myModal");

    
    const btn = document.getElementById("myBtn");

    
    const span = document.getElementsByClassName("close")[0];

    
    btn.onclick = function () {
        modal.style.display = "block";
    }

    
    span.onclick = function () {
        modal.style.display = "none";
    }

    
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}