{% extends "base.html" %}

{% block title %}Post Detail - {{ post.title }}{% endblock %}

{% block content %} 
    <div class="container">
        <div class="post-info mt-3 p-1">
            <div class="post-img">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.image_alt }}" class="post-pic">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
            <div class="post-detail">
                <h1 class="text-center">{{ post.title }}</h1>
                <p class="text-center">Posted by {{ post.author }} on {{ post.created_on }}</p>
                <hr>

                <p>{{ post.content|safe }}</p>

                {% if post.category %}
                    <p class="p-3"><strong>Category: </strong> {{ post.category.name }}</p>
                {% endif %}

                {% if post.device %}
                    <p class="p-3"><strong>Device: </strong> {{ post.device|title }}</p>
                {% endif %}

                {% if request.user == post.author %}
                    <div class="text-center">
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Edit</a>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="post-container">
            <div class="content-section p-3">
                <h2>Content</h2>
                <p>{{ post.content|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}
